@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

body, textarea {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100%;
  color: #000000;
}

a {
  color: #000000;
}

pre {
  white-space: pre-wrap;
}

.container {
  min-height: 100%;
  margin-top: 3.125rem;
  padding-bottom: 0.9375rem;
  background-color: #f5f5f5;
}
.container.wedge {
  margin-top: calc(3.125rem + 2.8125rem);
}
.container section {
  background-color: #ffffff;
}

[class*=icon] {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-menu {
  width: 1.0625rem;
  height: 0.8125rem;
  background-image: url(../img/ico_menu.png);
}

.icon-notice {
  width: 1.15625rem;
  height: 1.15625rem;
  background-image: url(../img/ico_notice.png);
}

.icon-faq {
  width: 1.1875rem;
  height: 1.15625rem;
  background-image: url(../img/ico_faq.png);
}

.icon-arrow {
  width: 0.5rem;
  height: 0.90625rem;
  background-image: url(../img/ico_arrow.png);
}

.icon-calculator {
  width: 1.28125rem;
  height: 1.1875rem;
  background-image: url(../img/ico_calculator.png);
}

.icon-kakao {
  width: 1.78125rem;
  height: 1.75rem;
  background-image: url(../img/ico_kakao.png);
}

.icon-naver {
  width: 1.59375rem;
  height: 1.53125rem;
  background-image: url(../img/ico_naver.png);
}

.icon-id {
  width: 1.09375rem;
  height: 0.78125rem;
  background-image: url(../img/ico_id.png);
}

.icon-password {
  width: 0.9375rem;
  height: 0.875rem;
  background-image: url(../img/ico_password.png);
}

.icon-password-check {
  width: 1rem;
  height: 0.875rem;
  background-image: url(../img/ico_password_check.png);
}

.icon-name {
  width: 0.8125rem;
  height: 0.875rem;
  background-image: url(../img/ico_name.png);
}

.icon-phone {
  width: 0.625rem;
  height: 1.0625rem;
  background-image: url(../img/ico_phone.png);
}

.icon-calendar {
  width: 0.8125rem;
  height: 0.6875rem;
  background-image: url(../img/ico_calendar.png);
}

.icon-radio {
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url(../img/ico_radio.png);
  background-size: cover;
  background-position: bottom;
}

.btn {
  display: block;
  text-align: center;
}
.btn.lg {
  width: 100%;
  padding: 1.09375rem 0;
  font-size: 1rem;
}
.btn.md {
  width: 100%;
  padding: 0.9375rem 0;
  font-size: 0.75rem;
}
.btn.sm {
  padding: 0.3125rem;
}
.btn.primary {
  color: #ffffff;
  background-color: #df0000;
}
.btn.third {
  color: #333333;
  background-color: #ffffff;
  border: 0.0625rem solid #999999;
}
.btn.minor {
  color: #333333;
  background-color: #ffffff;
  border: 0.0625rem solid #999999;
}
.btn.square {
  border-radius: 0.1875rem;
}
.btn.more {
  font-size: 0.75rem;
  color: #999999;
  border: 0.0625rem solid #d5d5d5;
}
.btn.text {
  display: inline-block;
  background-color: unset;
}
.btn.text.primary {
  color: #df0000;
}
.btn.text.sm {
  font-size: 0.75rem;
}
.btn.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem;
  font-size: 0.75rem;
  font-weight: 300;
  border: 0.0625rem solid #d5d5d5;
  border-radius: 0.1875rem;
}

.input-text-wrap {
  width: 100%;
}
.input-text-wrap input[type=text],
.input-text-wrap input[type=password],
.input-text-wrap input[type=number],
.input-text-wrap input[type=tel],
.input-text-wrap input[name=dates],
.input-text-wrap textarea {
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  font-size: 0.8125rem;
  line-height: 1;
  border-radius: 0;
}
.input-text-wrap input[type=text]::placeholder, .input-text-wrap input[type=text]::-webkit-input-placeholder,
.input-text-wrap input[type=password]::placeholder,
.input-text-wrap input[type=password]::-webkit-input-placeholder,
.input-text-wrap input[type=number]::placeholder,
.input-text-wrap input[type=number]::-webkit-input-placeholder,
.input-text-wrap input[type=tel]::placeholder,
.input-text-wrap input[type=tel]::-webkit-input-placeholder,
.input-text-wrap input[name=dates]::placeholder,
.input-text-wrap input[name=dates]::-webkit-input-placeholder,
.input-text-wrap textarea::placeholder,
.input-text-wrap textarea::-webkit-input-placeholder {
  color: #999999;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: normal !important;
}
.input-text-wrap textarea {
  padding: 1.40625rem 0.9375rem;
  line-height: 1.6;
  resize: none;
}
.input-text-wrap.underline-type.prefix-icon {
  position: relative;
}
.input-text-wrap.underline-type.prefix-icon input {
  padding: 0.9375rem 0rem 0.9375rem 3.125rem;
}
.input-text-wrap.underline-type.prefix-icon [class*=icon-] {
  position: absolute;
  top: 50%;
  left: 0.9375rem;
  transform: translateY(-50%);
}
.input-text-wrap.underline-type input {
  border-bottom: 0.0625rem solid #d5d5d5;
  padding: 0.9375rem;
}
.input-text-wrap.underline-type input::placeholder {
  font-size: 0.8125rem;
  font-weight: 300;
}

.input-formula {
  display: flex;
}
.input-formula .input-text-wrap {
  flex: 1 auto;
}

.checkbox-label label {
  font-size: 0.8125rem;
  color: #333333;
}

.checkbox-wrap {
  display: inline-block;
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  vertical-align: middle;
  margin-right: 0.78125rem;
}
.checkbox-wrap input[type=checkbox] {
  display: inline-block;
  left: 0;
  top: 0;
  position: absolute;
  height: 0;
  width: 0;
  font-size: 0;
}
.checkbox-wrap input[type=checkbox] + .icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/ico_checkbox.png);
}
.checkbox-wrap input[type=checkbox]:checked + .icon {
  background-image: url(../img/ico_checkbox_checked.png);
}
.checkbox-wrap .icon {
  vertical-align: top;
}

a.link-btn-underline {
  display: inline-block;
  padding-bottom: 0.15625rem;
  line-height: 1;
  font-size: 0.625rem;
  color: #787878;
  border-bottom: 0.0625rem solid #bababa;
  vertical-align: bottom;
}

.toggle-wrap {
  border-radius: 0.1875rem;
  border: 0.0625rem solid #d5d5d5;
  overflow: hidden;
}
.toggle-wrap > ul {
  display: flex;
}
.toggle-wrap > ul > li {
  position: relative;
  flex: 1 50%;
  border-right: 0.0625rem solid #d5d5d5;
}
.toggle-wrap > ul > li:last-child {
  border-right: 0;
}
.toggle-wrap > ul > li label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem;
  font-size: 0.75rem;
  font-weight: 300;
}
.toggle-wrap > ul > li input[type=radio] {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
.toggle-wrap > ul > li input[type=radio]:checked + label {
  background-color: #666666;
  color: #ffffff;
}

.select-wrap {
  position: relative;
}
.select-wrap select {
  border-radius: 0.1875rem;
  border: 0.0625rem solid #d5d5d5;
  padding: 0.9375rem;
  width: 100%;
  font-size: 0.75rem;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-wrap select::-ms-expand {
  display: none;
}
.select-wrap:after {
  content: "";
  position: absolute;
  width: 0.71875rem;
  height: 0.375rem;
  background-image: url(../img/ico_select_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0.9375rem;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-list {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.accordion-list > ul > li {
  display: flex;
  border-top: 0.0625rem solid #d5d5d5;
}
.accordion-list > ul > li > a {
  display: flex;
  flex: 1 auto;
  padding: 1.25rem 1.5625rem;
  font-size: 0.9375rem;
  color: #333333;
}
.accordion-list > ul > li > a .title {
  flex: 1 auto;
}
.accordion-list > ul > li > a .icon {
  display: flex;
  flex: 0 0.9375rem;
  justify-content: flex-end;
  align-items: center;
}
.accordion-list > ul > li.has-child.toggle-on .icon svg {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
}
.accordion-list > ul > li.has-child.toggle-on .icon svg path {
  fill: #999999;
}
.accordion-list > ul > li.child {
  background-color: #f9f9f9;
  padding: 0;
  overflow: hidden;
}
.accordion-list > ul > li.child ul li > a {
  display: flex;
  flex: 1 auto;
  padding: 1.25rem 1.5625rem;
  font-size: 0.8125rem;
  color: #666666;
}
.accordion-list > ul > li.child ul li > a .title {
  flex: 1 auto;
}
.accordion-list > ul > li.child ul li > a .icon {
  display: flex;
  flex: 0 0.9375rem;
  justify-content: flex-end;
  align-items: center;
}

.tab-index {
  border-radius: 0.1875rem;
  border: 0.0625rem solid #d5d5d5;
  overflow: hidden;
}
.tab-index > ul {
  display: flex;
}
.tab-index > ul > li {
  flex: 1 auto;
  border-right: 0.0625rem solid #d5d5d5;
}
.tab-index > ul > li:last-child {
  border-right: 0;
}
.tab-index > ul > li a.item {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.84375rem;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  font-size: 0.875rem;
  color: #333333;
}
.tab-index > ul > li.on a.item {
  background-color: #666666;
  font-size: 0.875rem;
  color: #ffffff;
}

.daterangepicker {
  font-family: "Noto Sans KR", sans-serif;
  top: 158px;
  left: 0px;
  right: 0px;
  width: 100%;
  flex-direction: column;
}
.daterangepicker td.in-range {
  background-color: #ffdfdf;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #ffeeee;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #df0000;
  color: #ffffff;
}
.daterangepicker .drp-calendar {
  flex: 1 1 auto;
  max-width: unset;
}
.daterangepicker .drp-calendar.right, .daterangepicker .drp-calendar.left {
  padding: 0.3125rem;
}
.daterangepicker.opensright:after {
  left: 50%;
}
.daterangepicker.opensright:before {
  left: calc(50% - 1px);
}
.daterangepicker.show-calendar .drp-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.daterangepicker.show-calendar .drp-buttons .btn {
  display: inline-block;
  border: 0;
  padding: 0.625rem 0.78125rem;
}
.daterangepicker.show-calendar .drp-buttons .btn.cancel {
  color: #333333;
  background-color: #ffffff;
  border: 0.0625rem solid #999999;
}
.daterangepicker.show-calendar .drp-buttons .btn.apply {
  color: #ffffff;
  background-color: #df0000;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  height: calc( 3.125rem + 2.8125rem);
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  z-index: 2;
}
nav.has-shadow {
  box-shadow: 0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.15);
}
nav.has-border {
  border-bottom: 0.0625rem solid #c5c5c5;
}
nav.slide-up {
  top: -3.125rem;
}
nav .header {
  display: flex;
  height: 3.125rem;
}
nav .header > div {
  flex: 1 0 10%;
}
nav .header > div.prefix {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .header > div.prefix a {
  margin-right: 0.625rem;
}
nav .header > div.prefix a:last-child {
  margin-right: 0;
}
nav .header > div.suffix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .header > div.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 70%;
}
nav .header > div.title img {
  width: 4.84375rem;
}
nav .quickmenu {
  height: 2.8125rem;
}
nav .quickmenu > ul {
  display: flex;
  height: 100%;
}
nav .quickmenu > ul > li {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
}
nav .quickmenu > ul > li a {
  font-size: 0.875rem;
}
nav.sub {
  height: 3.125rem;
}
nav.sub .header .prefix .icon {
  width: 1.09375rem;
}
nav.sub .header .title {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}
nav.sub .quickmenu {
  display: none;
}

.pulldown-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 3;
  transition: top 0.5s, bottom 0.5s;
  -webkit-transition: top 0.5s, bottom 0.5s;
}
.pulldown-menu.slide-up {
  top: -100%;
  bottom: 100%;
}
.pulldown-menu .header {
  flex: 0 0 3.125rem;
  display: flex;
  width: 100%;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: #df0000;
}
.pulldown-menu .header > div {
  flex: 1 auto;
}
.pulldown-menu .header > div.prefix {
  display: flex;
  align-items: center;
}
.pulldown-menu .header > div.prefix > ul > li {
  display: inline-flex;
}
.pulldown-menu .header > div.prefix > ul > li:first-child {
  padding-right: 1.09375rem;
  border-right: 0.0625rem solid #ffa0a0;
}
.pulldown-menu .header > div.prefix > ul > li:last-child {
  padding-left: 1.09375rem;
}
.pulldown-menu .header > div.prefix > ul > li a {
  font-size: 0.75rem;
  color: #ffffff;
  vertical-align: middle;
}
.pulldown-menu .header > div.prefix > ul > li a .icon {
  vertical-align: middle;
}
.pulldown-menu .header > div.suffix {
  flex: 0 0.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pulldown-menu .header > div.suffix .btn-close {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  padding: 0.3125rem;
}
.pulldown-menu .header > div.suffix .btn-close span {
  display: inline-block;
}
.pulldown-menu .accordion-list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
  flex: 1 calc(100% - 6.25rem);
  border-bottom: 0;
}
.pulldown-menu .accordion-list > ul {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.pulldown-menu .accordion-list > ul .child {
  padding-left: 1.5625rem;
}
.pulldown-menu .accordion-list > ul .child > .depth-02 {
  width: 100%;
}
.pulldown-menu .accordion-list > ul .child > .depth-02 > li {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.pulldown-menu .accordion-list > ul .child > .depth-02 > li:last-child {
  border-bottom: 0;
}
.pulldown-menu .bottom-fix {
  padding: 1.5625rem 1.5625rem 4.6875rem;
  width: 100%;
}
.pulldown-menu .bottom-fix ul {
  display: flex;
  height: 100%;
}
.pulldown-menu .bottom-fix ul li {
  display: flex;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
}
.pulldown-menu .bottom-fix ul li a {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.pulldown-menu .bottom-fix ul li a [class*=icon-] {
  margin-right: 0.625rem;
}
.pulldown-menu .bottom-fix ul li.kakao {
  background-color: #ffeb00;
  margin-right: 0.3125rem;
}
.pulldown-menu .bottom-fix ul li.kakao a {
  color: #333333;
}
.pulldown-menu .bottom-fix ul li.naver {
  background-color: #3eb74d;
}
.pulldown-menu .bottom-fix ul li.naver a {
  color: #ffffff;
}

.main section.main-banner {
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
}
.main section.main-banner .owl-carousel button.owl-dot span {
  border: 0.0625rem solid #ffffff;
  background: transparent;
}
.main section.main-banner .owl-carousel button.owl-dot.active span {
  background: #ffffff;
}
.main section.main-banner .owl-carousel.owl-theme .owl-dots {
  margin-top: 0;
  margin-bottom: 0.3125rem;
}
.main section.main-banner .banner .card {
  margin: 1.5625rem auto 0.9375rem;
}
.main section.main-banner .banner .card a {
  display: inline-block;
}
.main section.main-banner .banner .card a img {
  width: 100%;
}
.main section.main-banner .float-btn {
  position: absolute;
  right: -6.25rem;
  bottom: 0;
  z-index: 1;
}
.main section.main-banner .float-btn a {
  height: 9.625rem;
  display: inline-block;
}
.main section.main-banner .float-btn a img {
  height: 100%;
}
.main section.realtime-board {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.main section.realtime-board .h2 {
  position: relative;
  height: 3.125rem;
}
.main section.realtime-board .h2 img {
  position: absolute;
  left: -0.9375rem;
  top: -0.9375rem;
  width: 15.78125rem;
}
.main section.realtime-board div > ul > li {
  padding: 0.71875rem 0.625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.main section.realtime-board div > ul > li:last-child {
  border-bottom: 0;
}
.main section.realtime-board div > ul > li > ul {
  display: flex;
}
.main section.realtime-board div > ul > li > ul > li {
  flex: 1 0 auto;
  text-align: center;
  color: #999999;
  font-size: 0.6875rem;
  font-weight: 300;
}
.main section.realtime-board div > ul > li > ul > li.name {
  color: #333333;
}
.main section.realtime-board div > ul > li > ul > li.cost {
  color: #333333;
}
.main section.realtime-board div > ul > li > ul > li.result .tag {
  padding: 0.15625rem 0.40625rem;
  border-radius: 0.9375rem;
  font-size: 0.5625rem;
}
.main section.realtime-board div > ul > li > ul > li.result .tag.dark {
  background-color: #333333;
  color: #ffffff;
}
.main section.sub-banner.veryfast {
  background-color: #f5f5f5;
  padding: 0.9375rem 0 0.625rem;
}
.main section.sub-banner.veryfast a {
  display: block;
}
.main section.sub-banner.veryfast a .banner {
  position: relative;
  display: block;
  height: 4.0625rem;
}
.main section.sub-banner.veryfast a .banner img {
  width: 100%;
  max-width: 23.4375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main section.sub-banner.veryfast a .banner.yellow-bg {
  background-color: #f2e551;
}
.main section.sub-banner.veryfast a .banner.red-bg {
  background-color: #df0000;
}
.main section.cs-links {
  padding-top: 0.625rem;
  margin-bottom: 0.9375rem;
}
.main section.cs-links > ul > li {
  background-color: #ffffff;
}
.main section.cs-links > ul > li a {
  display: flex;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.40625rem;
  padding-bottom: 1.40625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.main section.cs-links > ul > li a > div.title {
  flex: 1 auto;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}
.main section.cs-links > ul > li a > div[class*=fix] {
  flex: 0 1.5625rem;
}
.main section.cs-links > ul > li a > div.suffix {
  text-align: right;
}
.main section.cs-links > ul > li a > div.prefix {
  flex: 0 2.65625rem;
}
.main section.cs-links > ul > li:last-child a {
  border-bottom: 0;
}
.main section.calculator {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-bottom: 0.3125rem;
}
.main section.calculator .h2 {
  display: flex;
  padding: 1.40625rem 0;
}
.main section.calculator .h2 .title {
  font-size: 1rem;
  font-weight: 500;
  color: #df0000;
}
.main section.calculator .h2 .prefix {
  flex: 0 2.65625rem;
}
.main section.calculator .calc-input {
  display: flex;
}
.main section.calculator .calc-input .input-text-wrap {
  position: relative;
  flex: 1 auto;
  box-shadow: 0 0 0.46875rem 0.15625rem rgba(0, 0, 0, 0.15);
  border-radius: 0.1875rem;
  overflow: hidden;
}
.main section.calculator .calc-input .input-text-wrap input[type=text],
.main section.calculator .calc-input .input-text-wrap input[type=number] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  padding: 0.9375rem 2.1875rem 0.9375rem 1.5625rem;
}
.main section.calculator .calc-input .input-text-wrap:after {
  content: "원";
  position: absolute;
  right: 1.125rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8125rem;
  color: #999999;
}
.main section.calculator .calc-input .unit {
  display: flex;
  flex: 0 3.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.3125rem;
}
.main section.calculator .calc-input .unit .btn {
  color: #666666;
}
.main section.calculator .calc-output > ul {
  padding: 1.0625rem 0.625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.main section.calculator .calc-output > ul > li {
  padding: 0.5625rem 0;
}
.main section.calculator .calc-output > ul > li > ul {
  display: flex;
}
.main section.calculator .calc-output > ul > li > ul li {
  flex: 1 auto;
  font-size: 0.8125rem;
  color: #787878;
}
.main section.calculator .calc-output > ul > li > ul li:last-child {
  display: flex;
  justify-content: flex-end;
  color: #333333;
}
.main section.calculator .calc-output .total-value {
  padding: 1.3125rem 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
}
.main section.calculator .calc-output .total-value > ul {
  display: flex;
}
.main section.calculator .calc-output .total-value > ul li {
  flex: 1 auto;
}
.main section.calculator .calc-output .total-value > ul li:last-child {
  display: flex;
  justify-content: flex-end;
}
.main section.calculator .calc-output .total-value > ul li:last-child .value {
  margin-right: 0.3125rem;
  font-weight: 700;
  color: #df0000;
}

.join section.input-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.join section.input-form .input-text-wrap.underline-type {
  margin-top: 0.3125rem;
}
.join section.input-form .border-box {
  border: 0.0625rem solid #d5d5d5;
  padding: 1.09375rem 0.9375rem;
  margin-top: 1.5625rem;
}
.join section.input-form .border-box > ul li {
  display: flex;
  margin-bottom: 1.5625rem;
}
.join section.input-form .border-box > ul li > * {
  flex: 1 auto;
}
.join section.input-form .border-box > ul li > .btn-wrap {
  display: flex;
  flex: 0 3.125rem;
  justify-content: flex-end;
  align-items: center;
}
.join section.input-form .border-box > ul li:last-child {
  margin-bottom: 0;
}
.join section.input-form .message-center {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
  line-height: 1.6;
  word-break: keep-all;
  margin-bottom: 1.5625rem;
}
.join section.input-form .message-center.narrow {
  padding: 0 1.5625rem;
}
.join section.input-form .message-center em {
  font-weight: 400;
}
.join section.input-form > .btn-wrap {
  margin-top: 1.5625rem;
}
.join section.input-form.for-id .find-id-result {
  border: 0.0625rem solid #d5d5d5;
  padding: 1.09375rem 0.9375rem;
  margin: 1.5625rem 0.625rem;
  background-color: #f5f5f5;
  text-align: center;
  font-weight: 700;
  color: #333333;
}
.join section.submit-btn {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin-top: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.join section.submit-btn .multi {
  display: flex;
  justify-content: space-between;
}
.join section.submit-btn .multi > li {
  flex: 1 50%;
  margin-right: 0.3125rem;
}
.join section.submit-btn .multi > li:last-child {
  margin-right: 0;
}
.join section.tab-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
}

.account section.account-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.account section.account-form .message-center {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
  line-height: 1.6;
  word-break: keep-all;
  margin-bottom: 1.5625rem;
}
.account section.account-form .message-center.narrow {
  padding: 0 1.5625rem;
}
.account section.account-form .message-center em {
  font-weight: 400;
}
.account section.account-form .message-small {
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
  padding-bottom: 1.5625rem;
  margin-top: 1.5625rem;
}
.account section.account-form .message-small .star {
  display: inline-block;
  margin-left: 0.625rem;
  text-indent: -0.46875rem;
}
.account section.account-form .message-small em {
  font-weight: 400;
}
.account section.account-form .input-text-wrap {
  margin-top: 0.3125rem;
}
.account section.account-form .btn-wrap {
  margin-top: 1.5625rem;
}
.account section.account-form .btn-wrap .multi {
  display: flex;
  justify-content: space-between;
}
.account section.account-form .btn-wrap .multi > li {
  flex: 1 50%;
  margin-right: 0.3125rem;
}
.account section.account-form .btn-wrap .multi > li:last-child {
  margin-right: 0;
}
.account section.submit-btn {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin-top: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.account section.submit-btn .multi {
  display: flex;
  justify-content: space-between;
}
.account section.submit-btn .multi > li {
  flex: 1 50%;
  margin-right: 0.3125rem;
}
.account section.submit-btn .multi > li:last-child {
  margin-right: 0;
}

.my-info section.input-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.my-info section.input-form .input-text-wrap.underline-type {
  margin-top: 0.3125rem;
}
.my-info section.input-form .btn-wrap {
  margin-top: 1.5625rem;
}
.my-info section.input-form .message-small {
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
  padding-bottom: 1.5625rem;
  margin-top: 1.5625rem;
}
.my-info section.input-form .message-small .star {
  display: inline-block;
  margin-left: 0.625rem;
  text-indent: -0.46875rem;
}
.my-info section.agree-list {
  margin: 1.5625rem 0;
}
.my-info section.agree-list > ul > li {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.my-info section.agree-list > ul > li:last-child {
  border-bottom: 0;
}
.my-info section.agree-list > ul > li .title {
  display: flex;
  flex: 1 auto;
  align-items: center;
}
.my-info section.agree-list > ul > li .toggle-wrap {
  flex: 0 9.375rem;
}
.my-info section.submit-btn {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin-top: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.my-info section.submit-btn .multi {
  display: flex;
  justify-content: space-between;
}
.my-info section.submit-btn .multi > li {
  flex: 1 50%;
  margin-right: 0.3125rem;
}
.my-info section.submit-btn .multi > li:last-child {
  margin-right: 0;
}

.my-question section.input-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.my-question section.input-form .input-text-wrap.underline-type {
  margin-top: 0.3125rem;
}
.my-question section.editor-form .input-text-wrap {
  border-bottom: 1px solid #d5d5d5;
}
.my-question section.editor-form .input-text-wrap input {
  padding: 0.9375rem;
}
.my-question section.editor-form .input-text-wrap input, .my-question section.editor-form .input-text-wrap textarea {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}
.my-question section.submit-btn {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin-top: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.my-question section.submit-btn .multi {
  display: flex;
  justify-content: space-between;
}
.my-question section.submit-btn .multi > li {
  flex: 1 50%;
  margin-right: 0.3125rem;
}
.my-question section.submit-btn .multi > li:last-child {
  margin-right: 0;
}
.my-question section .anchor {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  text-align: right;
}
.my-question section .anchor .btn > span, .my-question section .anchor .btn svg {
  vertical-align: middle;
}

.login section.input-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.login section.input-form .input-text-wrap.underline-type {
  margin-top: 0.3125rem;
}
.login section.input-form .login-status {
  margin-top: 0.9375rem;
}
.login section.input-form .login-status .checkbox-label label {
  font-size: 0.75rem;
}
.login section.input-form .btn-wrap {
  margin-top: 1.5625rem;
}
.login section.input-form .links {
  margin-top: 3.125rem;
  padding: 0 3.125rem;
  font-size: 0.8125rem;
}
.login section.input-form .links > ul {
  display: flex;
}
.login section.input-form .links > ul li {
  display: flex;
  flex: 1 auto;
  justify-content: center;
  border-right: 0.0625rem solid #d5d5d5;
}
.login section.input-form .links > ul li a {
  color: #666666;
}
.login section.input-form .links > ul li a em {
  color: #df0000;
}
.login section.input-form .links > ul li:last-child {
  border-right: 0;
}

.buy-list section.search {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.buy-list section.search .anchor {
  text-align: right;
  padding-bottom: 0.9375rem;
}
.buy-list section.search .anchor .btn > span, .buy-list section.search .anchor .btn svg {
  vertical-align: middle;
}
.buy-list section.search .toggle-wrap label {
  background-color: #f9f9f9;
}
.buy-list section.search .custom-range {
  display: flex;
  margin-top: 0.9375rem;
}
.buy-list section.search .custom-range .btn {
  flex: 0 0 5rem;
  margin-right: 0.9375rem;
}
.buy-list section.search .custom-range .btn.toggle {
  background-color: #f9f9f9;
}
.buy-list section.search .custom-range .btn.toggle.on {
  background-color: #666666;
  color: #ffffff;
}
.buy-list section.search .custom-range .date-pick {
  position: relative;
}
.buy-list section.search .custom-range .date-pick input {
  color: #333333;
  font-size: 0.75rem;
  text-align: center;
}
.buy-list section.search .custom-range .date-pick .icon-calendar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.buy-list section.search .custom-range .date-pick.input-text-wrap.underline-type input {
  padding: 0.5625rem 0.9375rem;
}
.buy-list section.search .btn-wrap {
  margin-top: 0.9375rem;
}
.buy-list section.order-list {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.buy-list section.order-list > ul > li {
  margin-bottom: 0.9375rem;
}
.buy-list section.order-list > ul > li .no-list {
  text-align: center;
  padding: 1.5625rem;
  font-size: 0.875rem;
  color: #999999;
}
.buy-list section.order-list .card {
  border: 0.0625rem solid #d5d5d5;
}
.buy-list section.order-list .card .card-header {
  background-color: #e9e9e9;
  font-size: 0.875rem;
  color: #333333;
  padding: 0.875rem;
  text-align: center;
}
.buy-list section.order-list .card .card-body {
  padding: 1.5625rem 0.9375rem;
}
.buy-list section.order-list .card .card-body > ul > li {
  margin-top: 1.1875rem;
}
.buy-list section.order-list .card .card-body > ul > li:first-child {
  margin-top: 0;
}
.buy-list section.order-list .card .card-body > ul > li dl {
  display: flex;
}
.buy-list section.order-list .card .card-body > ul > li dl dt, .buy-list section.order-list .card .card-body > ul > li dl dd {
  flex: 1 1 50%;
  font-size: 0.8125rem;
  line-height: 1.3;
}
.buy-list section.order-list .card .card-body > ul > li dl dt {
  font-weight: 500;
}
.buy-list section.order-list .card .card-body > ul > li dl dd {
  color: #787878;
}
.buy-list section.order-list .card .card-body > ul > li dl.memo {
  flex-direction: column;
}
.buy-list section.order-list .card .card-body > ul > li dl.memo dd {
  margin-top: 0.3125rem;
}
.buy-list section.order-list-detail {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.buy-list section.order-list-detail > ul {
  border-top: 0.0625rem solid #333333;
}
.buy-list section.order-list-detail > ul .item {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.buy-list section.order-list-detail > ul .item > ul > li {
  margin-top: 0.9375rem;
}
.buy-list section.order-list-detail > ul .item > ul > li:first-child {
  margin-top: 1.40625rem;
}
.buy-list section.order-list-detail > ul .item > ul > li:last-child {
  margin-bottom: 1.40625rem;
}
.buy-list section.order-list-detail > ul .item > ul > li dl {
  display: flex;
}
.buy-list section.order-list-detail > ul .item > ul > li dl dt, .buy-list section.order-list-detail > ul .item > ul > li dl dd {
  flex: 1 1 auto;
  font-size: 0.8125rem;
}
.buy-list section.order-list-detail > ul .item > ul > li dl dt {
  flex: 0 0 40%;
  font-weight: 500;
}
.buy-list section.order-list-detail > ul .item > ul > li dl dd {
  color: #787878;
}
.buy-list section.order-list-detail > ul .item > ul > li dl dd .primary {
  color: #df0000;
}
.buy-list section.order-list-detail .btn-wrap {
  margin-top: 1.5625rem;
}

.buy-info section.notice {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.buy-info section.notice .topper {
  margin-bottom: 1.5625rem;
  color: #333333;
  font-size: 0.8125rem;
  vertical-align: middle;
}
.buy-info section.notice .topper svg {
  margin-right: 0.625rem;
  vertical-align: middle;
}
.buy-info section.notice .topper em {
  color: #df0000;
  font-weight: 500;
}
.buy-info section.notice .ladder-list {
  border: 0.0625rem solid #d5d5d5;
}
.buy-info section.notice .ladder-list > ul {
  width: 100%;
}
.buy-info section.notice .ladder-list > ul > li.tr {
  padding: 0.9375rem 1.5625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.buy-info section.notice .ladder-list > ul > li:last-child {
  border-bottom: 0;
}
.buy-info section.notice .ladder-list .tr {
  display: flex;
  align-items: center;
}
.buy-info section.notice .ladder-list .tr .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden;
  color: #df0000;
  width: 4.0625rem;
  height: 4.0625rem;
  font-size: 1rem;
  font-weight: 500;
}
.buy-info section.notice .ladder-list .tr .content {
  margin-left: 1.40625rem;
  font-size: 0.75rem;
  color: #333333;
}
.buy-info section.notice .ladder-list .tr .content .bold {
  display: block;
  font-size: 0.8125rem;
  font-weight: 500;
  margin-top: 0.6875rem;
  line-height: 1.3;
}

.faq section.search {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
}
.faq section.search .input-text-wrap {
  position: relative;
  flex: 1 auto;
  box-shadow: 0 0 0.46875rem 0.15625rem rgba(0, 0, 0, 0.15);
  border-radius: 0.1875rem;
  overflow: hidden;
  border: 0.0625rem solid #df0000;
}
.faq section.search .input-text-wrap input[type=text],
.faq section.search .input-text-wrap input[type=number] {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  padding: 0.9375rem 2.1875rem 0.9375rem 1.5625rem;
}
.faq section.search .input-text-wrap .search-btn {
  display: inline-block;
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background-color: #ffffff;
}
.faq section.search .quick-tag > ul {
  display: flex;
}
.faq section.search .quick-tag > ul > li {
  display: flex;
  flex: 1 auto;
  justify-content: center;
}
.faq section.search .quick-tag > ul > li a {
  font-size: 0.75rem;
  font-weight: 500;
  color: #999999;
  padding: 1.5625rem 0;
  width: 100%;
  text-align: center;
}
.faq section.search .quick-tag > ul > li.on a {
  color: #333333;
}
.faq section.board-list {
  margin-top: 1.5625rem;
}
.faq section.board-list .links {
  font-size: 0.8125rem;
}
.faq section.board-list .links > ul > li {
  background-color: #ffffff;
}
.faq section.board-list .links > ul > li a {
  display: flex;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.40625rem;
  padding-bottom: 1.40625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.faq section.board-list .links > ul > li a > div.title {
  display: flex;
  flex: 1 auto;
  width: calc(100% - 1.5625rem);
  font-size: 0.8125rem;
  font-weight: 500;
  color: #333333;
  flex-direction: column;
}
.faq section.board-list .links > ul > li a > div.title .title-text {
  width: 100%;
  line-height: 1.4;
}
.faq section.board-list .links > ul > li a > div[class*=fix] {
  flex: 0 1.5625rem;
}
.faq section.board-list .links > ul > li a > div.suffix {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.faq section.board-list .links > ul > li a > div.suffix .icon-arrow {
  transform: rotate(-90deg);
  transition: ease 0.2s;
}
.faq section.board-list .links > ul > li a > div.suffix .icon-arrow.down {
  transform: rotate(90deg);
}
.faq section.board-list .links > ul > li a > div.prefix {
  flex: 0 2.65625rem;
}
.faq section.board-list .accordion-list > ul > li:first-child {
  border-top: 0;
}
.faq section.board-list .accordion-list > ul > li a .title {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  padding-right: 0.15625rem;
}
.faq section.board-list .accordion-list > ul > li a .title em {
  margin-right: 0.46875rem;
}
.faq section.board-list .accordion-list > ul > li svg path {
  fill: #999999;
}
.faq section.board-list .accordion-list > ul > li.child {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.faq section.board-list .accordion-list > ul > li.child pre {
  font-size: 0.75rem;
  color: #787878;
  line-height: 1.4;
}
.faq section.board-list .btn-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.notice section.board-list .links {
  font-size: 0.8125rem;
}
.notice section.board-list .links > ul > li {
  background-color: #ffffff;
}
.notice section.board-list .links > ul > li a {
  display: flex;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.40625rem;
  padding-bottom: 1.40625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.notice section.board-list .links > ul > li a > div.title {
  display: flex;
  flex: 1 auto;
  width: calc(100% - 1.5625rem);
  font-size: 0.8125rem;
  font-weight: 500;
  color: #333333;
  flex-direction: column;
}
.notice section.board-list .links > ul > li a > div.title .ellipse .title-text {
  max-width: calc(100% - 1.5625rem);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.notice section.board-list .links > ul > li a > div.title .ellipse svg {
  margin-left: 0.15625rem;
}
.notice section.board-list .links > ul > li a > div.title .detail {
  display: block;
  margin-top: 0.5625rem;
}
.notice section.board-list .links > ul > li a > div.title .detail > li {
  display: inline-block;
  font-size: 0.625rem;
  color: #666666;
  padding: 0 0.46875rem;
}
.notice section.board-list .links > ul > li a > div.title .detail > li:first-child {
  padding-left: 0;
}
.notice section.board-list .links > ul > li a > div.title .detail > li:last-child {
  padding-right: 0;
}
.notice section.board-list .links > ul > li a > div.title .detail > li.primary {
  color: #df0000;
  font-weight: 500;
}
.notice section.board-list .links > ul > li a > div.title .detail > li.catagory {
  border-right: 0.0625rem solid #d5d5d5;
}
.notice section.board-list .links > ul > li a > div.title .detail > li.date {
  color: #999999;
}
.notice section.board-list .links > ul > li a > div[class*=fix] {
  flex: 0 1.5625rem;
}
.notice section.board-list .links > ul > li a > div.suffix {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.notice section.board-list .links > ul > li a > div.prefix {
  flex: 0 2.65625rem;
}
.notice section.board-list .btn-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.notice section.view .title-wrap {
  display: flex;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.40625rem;
  padding-bottom: 1.40625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.notice section.view .title-wrap > div.title {
  display: flex;
  flex: 1 auto;
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #333333;
  flex-direction: column;
}
.notice section.view .title-wrap > div.title .title-text {
  display: inline;
  line-height: 1.4;
}
.notice section.view .title-wrap > div.title svg {
  margin-left: 0.15625rem;
}
.notice section.view .title-wrap > div.title .detail {
  display: block;
  margin-top: 0.5625rem;
}
.notice section.view .title-wrap > div.title .detail > li {
  display: inline-block;
  font-size: 0.625rem;
  color: #666666;
  padding: 0 0.46875rem;
}
.notice section.view .title-wrap > div.title .detail > li:first-child {
  padding-left: 0;
}
.notice section.view .title-wrap > div.title .detail > li:last-child {
  padding-right: 0;
}
.notice section.view .title-wrap > div.title .detail > li.primary {
  color: #df0000;
}
.notice section.view .title-wrap > div.title .detail > li.catagory {
  border-right: 0.0625rem solid #d5d5d5;
  font-weight: 500;
}
.notice section.view .title-wrap > div.title .detail > li.date {
  color: #999999;
}
.notice section.view .title-wrap > div[class*=fix] {
  flex: 0 1.5625rem;
}
.notice section.view .title-wrap > div.suffix {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.notice section.view .title-wrap > div.prefix {
  flex: 0 2.65625rem;
}
.notice section.view .contents-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  min-height: 6.25rem;
}
.notice section.view .contents-wrap pre {
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 300;
  color: #787878;
}
.notice section.view .file-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-top: 0.0625rem solid #d5d5d5;
}
.notice section.view .file-wrap svg {
  vertical-align: middle;
}
.notice section.view .file-wrap .label {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333333;
}
.notice section.view .file-wrap .file-name {
  color: #333333;
  font-size: 0.75rem;
  font-weight: 300;
}
.notice section.view .btn-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.apply section h2 {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
}
.apply section .topper, .apply section .bottom {
  margin-top: 0.9375rem;
  font-size: 0.6875rem;
  font-weight: 300;
  color: #333333;
  line-height: 1.4;
}
.apply section .topper em, .apply section .bottom em {
  color: #df0000;
}
.apply section.important-notice {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.apply section.important-notice .indicater > ol {
  position: relative;
  width: 6.5625rem;
  display: flex;
  justify-content: space-between;
  margin: auto 0 auto auto;
}
.apply section.important-notice .indicater > ol:before {
  content: "";
  display: inline-block;
  position: absolute;
  border-bottom: 0.0625rem solid #d5d5d5;
  width: 100%;
  height: 1px;
  top: 50%;
  z-index: 0;
}
.apply section.important-notice .indicater > ol > li {
  z-index: 1;
}
.apply section.important-notice .indicater > ol > li .circle {
  display: flex;
  background-color: #f5f5f5;
  border: 0.0625rem solid #d5d5d5;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 0.6875rem;
  font-weight: 500;
}
.apply section.important-notice .indicater > ol > li .circle.on {
  background-color: #df0000;
  color: #ffffff;
  border: 0;
}
.apply section.important-notice .border-box {
  border: 0.0625rem solid #d5d5d5;
  padding: 1.09375rem 0.9375rem;
  padding: 1.40625rem 1.09375rem;
  margin-top: 0.9375rem;
  color: #787878;
  font-size: 0.6875rem;
}
.apply section.important-notice .border-box > ul {
  margin-top: 0.9375rem;
}
.apply section.important-notice .border-box > ul > li {
  text-indent: -0.75rem;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  line-height: 1.5;
  word-break: keep-all;
}
.apply section.important-notice .border-box > ul > li:last-child {
  margin-bottom: 0;
}
.apply section.important-notice .border-box .title {
  color: #df0000;
  font-size: 0.8125rem;
  font-weight: 700;
}
.apply section.order-limit-notice {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.order-limit-notice .notice {
  margin-top: 0.9375rem;
}
.apply section.order-limit-notice .notice > ul {
  border-top: 0.0625rem solid #333333;
}
.apply section.order-limit-notice .notice > ul .item {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.apply section.order-limit-notice .notice .item {
  padding: 0.9375rem 0.625rem;
  line-height: 1.6;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #333333;
}
.apply section.order-limit-notice .notice .item .profile {
  display: inline;
}
.apply section.order-limit-notice .notice .item .content {
  display: inline;
}
.apply section.order-limit-notice .notice .item .content .detail {
  color: #787878;
  font-weight: 400;
}
.apply section.select {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.select .select-giftcard-wrap {
  margin-top: 0.9375rem;
  border-top: 0.0625rem solid #333333;
  border-bottom: 0.0625rem solid #d5d5d5;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.apply section.select .select-giftcard-wrap .title {
  font-size: 0.8125rem;
  color: #333333;
  font-weight: 500;
}
.apply section.select .select-giftcard-wrap > ul {
  margin-top: 1.09375rem;
}
.apply section.select .select-giftcard-wrap > ul > li {
  position: relative;
  margin-top: 0.78125rem;
}
.apply section.select .select-giftcard-wrap > ul > li:first-child {
  margin-top: 0;
}
.apply section.select .select-giftcard-wrap > ul > li input[type=radio] {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
.apply section.select .select-giftcard-wrap > ul > li input[type=radio]:checked + .label .icon-radio {
  background-position: top;
}
.apply section.select .select-giftcard-wrap > ul > li .label {
  display: flex;
  color: #787878;
  font-size: 0.75rem;
  line-height: 1.4;
  align-items: center;
}
.apply section.select .select-giftcard-wrap > ul > li .label .text {
  margin-left: 0.6875rem;
}
.apply section.agree-form {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.agree-form .border-box {
  border: 0.0625rem solid #d5d5d5;
  padding: 1.09375rem 0.9375rem;
  margin-top: 0.9375rem;
}
.apply section.agree-form .border-box > ul > li {
  display: flex;
  margin-top: 1.25rem;
}
.apply section.agree-form .border-box > ul > li:first-child {
  margin-top: 0;
}
.apply section.agree-form .border-box > ul > li .checkbox-label {
  flex: 1 auto;
}
.apply section.agree-form .border-box > ul > li .btn-wrap {
  display: flex;
  flex: 0 3.125rem;
  justify-content: flex-end;
  align-items: center;
}
.apply section.pin-code {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.pin-code .code-list {
  margin-top: 1.09375rem;
}
.apply section.pin-code .code-list > ul > li {
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #d5d5d5;
  display: flex;
}
.apply section.pin-code .code-list > ul > li .num {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
}
.apply section.pin-code .code-list > ul > li .num:after {
  content: ".";
}
.apply section.pin-code .code-list > ul > li .input-formula {
  flex: 1 auto;
  padding: 0.46875rem;
}
.apply section.pin-code .code-list > ul > li .input-formula .input-text-wrap {
  margin: 0 0.15625rem;
}
.apply section.pin-code .code-list > ul > li .input-formula .input-text-wrap input {
  padding: 0.3125rem;
  text-align: center;
}
.apply section.pin-code .code-list > ul > li .input-formula .dash {
  display: flex;
  align-items: center;
  margin: 0 0.0625rem;
}
.apply section.pin-code .code-list .btn-wrap {
  margin-top: 0.9375rem;
}
.apply section.submit-btn {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.order-confirm {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin-top: 0.9375rem;
}
.apply section.order-confirm .order-list {
  margin-top: 0.9375rem;
}
.apply section.order-confirm .order-list > ul {
  border-top: 0.0625rem solid #333333;
}
.apply section.order-confirm .order-list > ul .item {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.apply section.order-confirm .order-list > ul .item {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.apply section.order-confirm .order-list > ul .item > ul > li {
  margin-top: 0.9375rem;
}
.apply section.order-confirm .order-list > ul .item > ul > li:first-child {
  margin-top: 1.40625rem;
}
.apply section.order-confirm .order-list > ul .item > ul > li:last-child {
  margin-bottom: 1.40625rem;
}
.apply section.order-confirm .order-list > ul .item > ul > li dl {
  display: flex;
}
.apply section.order-confirm .order-list > ul .item > ul > li dl dt, .apply section.order-confirm .order-list > ul .item > ul > li dl dd {
  flex: 1 1 auto;
  font-size: 0.8125rem;
}
.apply section.order-confirm .order-list > ul .item > ul > li dl dt {
  flex: 0 0 30%;
  font-weight: 500;
}
.apply section.order-confirm .order-list > ul .item > ul > li dl dd {
  color: #787878;
}
.apply section.order-confirm .order-list > ul .item > ul > li dl dd .primary {
  color: #df0000;
}
.apply section.order-confirm .bottom {
  margin-bottom: 1.5625rem;
}
.apply section.order-confirm .order-list-total .item, .apply section.order-confirm .order-result .item {
  margin-bottom: 1.5625rem;
}
.apply section.order-confirm .order-list-total .item > ul, .apply section.order-confirm .order-result .item > ul {
  border-top: 0.0625rem solid #333333;
}
.apply section.order-confirm .order-list-total .item > ul .item, .apply section.order-confirm .order-result .item > ul .item {
  border-bottom: 0.0625rem solid #d5d5d5;
}
.apply section.order-confirm .order-list-total .item > ul, .apply section.order-confirm .order-result .item > ul {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-bottom: 0.0625rem solid #d5d5d5;
}
.apply section.order-confirm .order-list-total .item > ul > li, .apply section.order-confirm .order-result .item > ul > li {
  margin-top: 0.9375rem;
}
.apply section.order-confirm .order-list-total .item > ul > li:first-child, .apply section.order-confirm .order-result .item > ul > li:first-child {
  margin-top: 1.40625rem;
}
.apply section.order-confirm .order-list-total .item > ul > li:last-child, .apply section.order-confirm .order-result .item > ul > li:last-child {
  margin-bottom: 1.40625rem;
}
.apply section.order-confirm .order-list-total .item > ul > li dl, .apply section.order-confirm .order-result .item > ul > li dl {
  display: flex;
}
.apply section.order-confirm .order-list-total .item > ul > li dl dt, .apply section.order-confirm .order-list-total .item > ul > li dl dd, .apply section.order-confirm .order-result .item > ul > li dl dt, .apply section.order-confirm .order-result .item > ul > li dl dd {
  flex: 1 1 auto;
  font-size: 0.8125rem;
}
.apply section.order-confirm .order-list-total .item > ul > li dl dt, .apply section.order-confirm .order-result .item > ul > li dl dt {
  flex: 0 0 30%;
  font-weight: 500;
}
.apply section.order-confirm .order-list-total .item > ul > li dl dd, .apply section.order-confirm .order-result .item > ul > li dl dd {
  color: #787878;
}
.apply section.order-confirm .order-list-total .item > ul > li dl dd .primary, .apply section.order-confirm .order-result .item > ul > li dl dd .primary {
  color: #df0000;
}
.apply section.order-confirm .order-result {
  margin-top: 0.9375rem;
}

.intro section {
  padding-top: 3.125rem;
  min-height: 22.8125rem;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.intro section p {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 0.84375rem;
  padding-bottom: 1.6875rem;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.3;
}
.intro section p .bold {
  font-weight: 500;
}
.intro section .img-wrap {
  height: 1.21875rem;
  text-align: center;
}
.intro section .img-wrap img {
  height: 100%;
}
.intro section .btn-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}
.intro section .btn-wrap .btn.lg {
  font-size: 0.875rem;
  font-weight: 500;
}
.intro section.one {
  background-image: url(../img/intro01-bg.png);
  background-size: 16.25rem;
  background-position: bottom -1.5625rem center;
}
.intro section.one p {
  color: #333333;
}
.intro section.one .btn-wrap {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}
.intro section.one .btn-wrap .btn.third {
  border: 0.0625rem solid #df0000;
  color: #df0000;
}
.intro section.two {
  min-height: 25.9375rem;
  background-color: #01276d;
  background-image: url(../img/intro02-bg.png);
  background-size: 15.25rem;
  background-position: bottom -0.9375rem center;
}
.intro section.two p {
  color: #ffffff;
}
.intro section.two p .yellow {
  font-size: 0.75rem;
  color: #ffeb00;
}
.intro section.two .btn-wrap .btn.third {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
.intro section.three {
  background-image: url(../img/intro03-bg.png);
  background-size: 17.5rem;
  background-position: bottom -0.03125rem center;
}
.intro section.three p {
  color: #333333;
}
.intro section.three .btn-wrap .btn.third {
  border: 0.0625rem solid #0d4bbb;
  color: #0d4bbb;
}

.bottom-menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.375rem;
  padding: 0.46875rem;
  background-color: #ffffff;
  border-top: 0.0625rem solid #d5d5d5;
  z-index: 1;
}
.bottom-menu-bar ul {
  display: flex;
  width: 100%;
}
.bottom-menu-bar ul li {
  flex: 1 1 1.875rem;
}
.bottom-menu-bar ul li a {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.bottom-menu-bar ul li a span {
  font-size: 0.625rem;
  height: 1.25rem;
  color: #111111;
}
.bottom-menu-bar ul li a span.icon {
  margin-top: 0.3125rem;
}
.bottom-menu-bar ul li a span.menu-name {
  margin-top: 0.46875rem;
}
.bottom-menu-bar ul li.on span {
  color: #df0000;
}
.bottom-menu-bar ul li.on span svg path {
  fill: #df0000;
}
.bottom-menu-bar ul li:first-child {
  flex: 1 0 8.4375rem;
}

footer {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  background-color: #ffffff;
  padding-top: 1.5625rem;
}
footer.wedge {
  margin-bottom: 4.375rem;
}
footer .links {
  font-size: 0.8125rem;
}
footer .links > ul {
  display: flex;
}
footer .links > ul li {
  display: flex;
  flex: 1 auto;
  justify-content: center;
  border-right: 0.0625rem solid #d5d5d5;
}
footer .links > ul li a {
  color: #666666;
}
footer .links > ul li:last-child {
  border-right: 0;
}
footer .logo-footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5625rem;
}
footer .logo-footer img {
  width: 3.65625rem;
}
footer .infomations {
  margin-top: 0.9375rem;
  font-size: 0.6875rem;
  color: #999999;
  text-align: center;
  line-height: 1.8;
}
footer .copyright {
  padding: 1.5625rem 0 1.875rem;
  text-align: center;
  color: #cccccc;
  font-size: 0.625rem;
}

.modal-pop {
  height: 100%;
  display: none;
}
.modal-pop .header {
  display: flex;
  height: 3.125rem;
  padding: 0rem 0.9375rem 0 1.5625rem;
}
.modal-pop .header > div {
  flex: 1 0 auto;
}
.modal-pop .header > div.prefix {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal-pop .header > div.suffix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal-pop .header > div.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 90%;
}
.modal-pop .header > div.title img {
  width: 4.84375rem;
}
.modal-pop .header .btn-close .icon svg path {
  fill: #111111;
}
.modal-pop .content-body {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  position: absolute;
  top: 3.125rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
  line-height: 1.3;
  font-size: 0.625rem;
}
.modal-pop .content-body h2 {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 0.625rem;
}
.modal-pop .content-body .terms-of-use h3 {
  font-size: 0.6875rem;
  margin-top: 0.3125rem;
  margin-bottom: 0;
  margin-left: 0.3125rem;
}
.modal-pop .content-body .terms-of-use p {
  font-size: 0.625rem;
  padding: 0.3125rem;
}
.modal-pop .content-body .terms-of-use ul {
  margin-left: 0.9375rem;
}
.modal-pop .content-body .terms-of-use ul > li {
  text-indent: -0.25rem;
  margin-bottom: 0.09375rem;
}
.modal-pop .content-body .terms-of-use table {
  width: calc(100% - 0.9375rem);
  margin: 0 auto;
}
.modal-pop .content-body .terms-of-use table tr th {
  background-color: #f9f9f9;
  padding: 0.3125rem;
}
.modal-pop .content-body .terms-of-use table tr td {
  border-bottom: 0.0625rem solid #d5d5d5;
  padding: 0.3125rem;
}
.modal-pop .content-body .terms-of-use .depth02 {
  margin-left: 0.78125rem;
}
.modal-pop.pullscreen-type {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-pop.pullscreen-type .template {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.5625rem;
}

/*# sourceMappingURL=style_m.css.map */
