@charset "UTF-8";
.container{
  min-height: 100%;
  margin-top: $nav-header-height;
  padding-bottom: rem(30);
  background-color: $default-bg-gray;
  &.wedge {
    margin-top: calc(#{$nav-header-height} + #{$nav-quickmenu-height});
  }
  section{
    background-color: #ffffff;;
  }
}