@charset "UTF-8";
.modal-pop{
  height: 100%;
  display: none;
  .header{
    display: flex;
    height: $nav-header-height;
    padding: rem(0) rem(30) 0 rem(50);
    >div {
      flex: 1 0 auto;
      &.prefix {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &.suffix{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      &.title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1 0 90%;
        img {
          width: rem(155);
        }
      }
    }
    .btn-close{
      .icon{
        svg{
          path{
            fill: $default-font-color;
          }
        }
      }
    }
  }
  .content-body{
    @include layout-side-pad;
    @include layout-topbottom-pad;
    // padding-left: rem(20);
    // padding-right: rem(15);
    position: absolute;
    top: $nav-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    line-height: 1.3;
    font-size: rem(20);
    h2{
      font-size: rem(24);
      font-weight: 500;
      margin-top: rem(20);
    }
    .terms-of-use{

      h3{
        font-size: rem(22);
        margin-top: rem(10);
        margin-bottom: 0;
        margin-left: rem(10);
      }
      p{
        font-size: rem(20);
        padding: rem(10);
      }
      ul{
        margin-left: rem(30);
        >li{
          text-indent: rem(-8);
          margin-bottom: rem(3);
        }
      }
      table{
        width: calc(100% - #{rem(30)});
        margin: 0 auto;
        tr{
          th{
            background-color: $default-bg-gray-lighten;
            padding: rem(10);
          }
          td{
            border-bottom: rem(2) solid $default-border-gray;
            padding: rem(10);
          }
        }
      }
      .depth02{
        margin-left: rem(25);
      }
    }
  }
  &.pullscreen-type{
    @include modal(fixed);
  }
}