@charset "UTF-8";
.toggle-wrap{
  @include border-radius;
  border: rem(2) solid $default-border-gray;
  overflow: hidden;
  >ul{
    display: flex;
    >li{
      position: relative;
      flex: 1 50%;
      border-right: rem(2) solid $default-border-gray;
      &:last-child{
        border-right: 0;
      }
      label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(18);
        font-size: rem(24);
        font-weight: 300;
      }
      input[type="radio"]{
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        &:checked + label{
          background-color: $toggle-radio-checked-color;
          color: #ffffff;
        }
      }
    }
  }
}